.contact{
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-contact{
    width: 80%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-wrapper{
    width: 70%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label{
    display: block;
}
form{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-input{
    width: 80%;
}

.input-field{
    width: 90%;
    outline: none;
}
.text-field{
    width: 90%;
    height: 200px;
    outline: none;
}
.btn-contain{
    width: 66%;
   display: flex;
   justify-content: space-between;
}
.icons{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    font-size: 25px;
    margin: 0px 5px;
}
